.EmotionItem{
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}
.EmotionItem img{
    width: 80%;
}
.EmotionItem.item_on_1{
     color: white;
    background-color: #F1D0C6;
}
.EmotionItem.item_on_2{
    color: white;
    background-color: #FBD361;
}
.EmotionItem.item_on_3{
    color: white;
    background-color: #528CA4;
}

.EmotionItem.item_on_4{
  color: white;
    background-color: #88B24E;
}
.EmotionItem.item_on_5{
    color: white;
    background-color: #929699;
}